{% extends 'myhealthdb/second_base.html' %}

{% load crispy_forms_tags %}
{% block body_block %}


<div class="card">
  <div class="card-header">
    <h3>Your Medication</h3>
  </div>
  <div class="card-body">
    <h4><b>Current Medicine</b></h4>

    <hr />
    {%if current%}

    <table class="table table-responsive-sm table-striped ">
      <thead>
        <tr>
          <th scope="col">Type</th>
          <th scope="col">Frequency</th>
          <th scope="col">Amount</th>
          <th scope="col">Date Started</th>
          <th scope="col">Date Finished</th>
          <th scope="col">Added By</th>
          <th scope="col">Notes</th>
          <th scope="col"></th>
        </tr>
      </thead>

      <tbody>
        {% for p in current %}

        <tr>
          <th scope="row">{{ p.type }}</th>
          <td>{{p.frequency}}</td>
          <td>{{p.amount}}</td>
          <td>{{p.start}}</td>
          <td>{{p.finish}}</td>
          {%if p.added_by.id == profile.baseuser.id%}
          <td>You</td>
          {% else %}
          <td>Staff</td>
          {%endif%}
          <td>{{p.notes}}</td>
          <td> <input data-url="{% url 'medication_done' %}" type="button" id="done{{p.id}}" class="done btn btn-info"
              name="{{ p.id }}" value="No longer taking" /></td>
        </tr>


        {% endfor %}
      </tbody>
    </table>

    {%else%}
    <h4>You have no current medication!</h4>
    {%endif%}

    <hr/>
    <h4><b>Past Medicine</b></h4>

    <hr />
    {%if past%}

    <table class="table table-responsive-sm table-striped">
      <thead>
        <tr>
          <th scope="col">Type</th>
          <th scope="col">Frequency</th>
          <th scope="col">Amount</th>
          <th scope="col">Date Started</th>
          <th scope="col">Date Finished</th>
          <th scope="col">Added By</th>
          <th scope="col">Notes</th>

        </tr>
      </thead>

      <tbody>
        {% for p in past %}


        <tr>
          <th scope="row">{{ p.type }}</th>
          <td>{{p.frequency}}</td>
          <td>{{p.amount}}</td>
          <td>{{p.start}}</td>
          <td>{{p.finish}}</td>

          {%if p.added_by.id == profile.baseuser.id%}
          <td>You</td>
          {% else %}
          <td>Staff</td>
          {%endif%}
          <td>{{p.notes}}</td>

        </tr>
        <tr>
          {% endfor %}
      </tbody>
    </table>

    {%else%}
    <h4>You have no past medication!</h4>
    {%endif%}
    <hr />


    <a href="{% url 'create_medication' id=profile.baseuser.id %}">
      <button class="btn btn-primary btn-block">Add Medication</button></a>
  </div>
</div>
{% endblock %}