{% extends 'myhealthdb/first_base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load staticfiles %}
{% block body_block %}

<div class="first-base">
  <div class="row justify-content-center">

    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3>{% trans "Sign In" %}</h3>
        </div>
        <div class="card-body">

          <form class="login" method="POST" action="{% url 'account_login' %}">

            {% csrf_token %}
            {% if form.errors %}
            <div class="alert alert-danger">
              Please fix the errors in the form below.
              {% for error in form.non_field_errors %}
              <p class="error">{{ error }}</p>
              {% endfor %}
            </div>
            {% endif %}
            
            {{ form|crispy }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <a class="button secondaryAction"
              href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            <button class="btn btn-primary primaryAction" type="submit">{% trans "Sign In" %}</button>
          </form>

        </div>
      </div>
    </div>

  </div>
</div>



{% endblock %}