{% extends 'myhealthdb/first_base.html' %}

{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block body_block %}

<div class="first-base">
    <div class="row">

        <div class="col align-self-center">
            <div class="card">
                <div class="card-header">
                    <h3>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}
                    </h3>
                </div>
                <div class="card-body">

                    {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.
                        Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                    {% else %}
                    {% if form %}
                    <form method="POST" action="{{ action_url }}">
                        {% csrf_token %}
                        {% if form.errors %}
                        <div class="alert alert-danger">
                            Please fix the errors in the form below.
                            {% for error in form.non_field_errors %}
                            <p class="error">{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {{ form|crispy }}


                        <button class="btn btn-primary primaryAction" type="submit"
                            name="action">{% trans 'Change Password' %}</button>
                    </form>
                    {% else %}
                    <p>{% trans 'Your password is now changed.' %}</p>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</div>


{% endblock %}