 <!doctype html>
 {% load staticfiles %}
 {% load bootstrap4 %}
 {% bootstrap_css %}
 {% bootstrap_javascript jquery='false' %}
 {% load i18n %}
 {% load crispy_forms_tags %}


 {{ form.media }}
 <html lang="en">

 <head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="description" content="">
   <meta name="author" content="">
   <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

   <title>MyHealthDB</title>

   <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">

   <!-- Bootstrap core CSS -->
   <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

   <link rel="stylesheet" href="{% static 'css/style.css' %}">

   <style type="text/css">
     .content_signup {
       background-image: url('{% static "images/index.jpg"%}');
     }
   </style>


 </head>

 <body>

   <div class="content_signup">
     <div id="right-panel" class="right-panel">
       <!-- Header-->
       <header id="header" class="header">
         <div class="top-left">
           <div class="navbar-header">
             <a class="navbar-brand mb-0 h1" href="{%url 'home_base'%}">MyHealthDB</a>
             <a class="navbar-brand hidden" href="{%url 'home_base'%}">MyHealthDB</a>
           </div>
         </div>
         <div class="top-right">
           <div class="header-menu">
             <div class="header-left">
               <div class="dropdown for-notification">
                 <button class="btn btn-secondary dropdown-toggle" type="button" id="notification"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Menu<i class="fa fa-caret-square-down"></i>
                 </button>
                 <div class="dropdown-menu" aria-labelledby="notification">
                   <a class="dropdown-item media" href="{%url 'about_this' %}">
                     <i class="fa fa-info"></i>
                     <p>About</p>
                   </a>
                   <a class="dropdown-item media" href="{% url 'account_login' %}">
                     <i class="fa fa-sign-in-alt"></i>
                     <p>Sign In</p>
                   </a>
                   <a class="dropdown-item media" href="{% url 'account_signup' %}">
                     <i class="fa fa-user-plus"></i>
                     <p>Register as a Patient</p>
                   </a>
                   <a class="dropdown-item media" href="{% url 'contact_form' %}">
                     <i class="fa fa-file-signature"></i>
                     <p>Register your Hospital</p>
                   </a>
                 </div>
               </div>
             </div>
             {% block headerblock%}{% endblock%}
           </div>

         </div>
     </div>
     </header>


     <div class="container">
       <div class="row">

         <div class="col align-self-center">
           <div class="card">
             <div class="card-header">
               <h3>{% trans "Sign Up" %}</h3>
             </div>
             <div class="card-body">

               <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign
                   in</a>.{% endblocktrans %}</p>

               <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                 {% csrf_token %}

                 {% if form.errors %}
                 <div class="alert alert-danger">
                   Please fix the errors in the form below.
                   {% for error in form.non_field_errors %}
                   <p class="error">{{ error }}</p>
                   {% endfor %}
                 </div>
                 {% endif %}

                 {{ form|crispy }}
                 {% if redirect_field_value %}
                 <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                 {% endif %}
                 <button class="btn btn-primary primaryAction" type="submit">{% trans "Sign Up" %}</button>
               </form>
             </div>
           </div>
         </div>

       </div>
     </div>

     <div>
       <!-- Footer -->
       <footer class="site-footer-signup">
         <div class="footer-inner bg-white">
           <div class="row">
             <div class="col-sm-4">
               Copyright &copy; 2018 Ela Admin
             </div>
             <div class="col-sm-4 text-center">
               <b><a style="color:#344e86" href="https://app.termly.io/document/privacy-notice/60ba3efc-0d8c-410b-8736-e87cab7f2e8a">Privacy
                 Policy</a></b>
             </div>
             <div class="col-sm-4 text-right">
               Designed by <a href="https://colorlib.com">Colorlib</a>
             </div>
           </div>
         </div>
       </footer>
       <!-- /.site-footer -->
     </div>
   </div>


   <!-- Bootstrap core JavaScript
    ================================================== -->
   <!-- Placed at the end of the document so the pages load faster -->
   <!-- General JQuery stuff -->
   <script src="{% static 'js/jquery-3.4.1.js' %}"></script>

   <!-- Particular JQuery stuff -->
   <script src="{% static 'js/myhealthdb_jquery.js' %}"></script>

   <!-- bootstrap js -->
   <script src="{% static 'js/bootstrap.min.js' %}"></script>

   <script>
     window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')
   </script>
   <script src=" {% static 'js/jquery-3.3.1.slim.min.js' %} "></script>
   <script src="  {% static 'js/popper.min.js' %} "></script>

   <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/moment@2.22.2/moment.min.js"></script>
   <script src="https://kit.fontawesome.com/5f32283283.js"></script>
 </body>

 </html>