{% extends 'myhealthdb/second_base.html' %}

{% load crispy_forms_tags %}
{% block body_block %}


<div class="card">
    <div class="card-header">
        <h3>Your Documents</h3>
    </div>
    <div class="card-body">
        <hr />
        {%if object_list%}
        <table class="table table-responsive-sm table-striped ">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">File</th>
                    <th scope="col">Type</th>
                    <th scope="col">Description</th>
                    <th scope="col">Added By</th>

                    <th scope="col"></th>

                </tr>
            </thead>

            <tbody>
                {% for p in object_list %}


                <tr>
                    <th scope="row">{{ p.name }}</th>
                    <td> <a href="{% url 'pdf_view' id=profile.baseuser.id pdfid=p.id%}">{{ p.pdf_file }}</a></td>
                    <td>{{p.type}}</td>
                    <td>{{p.description}}</td>
                    {%if p.added_by.id == profile.baseuser.id%}
                    <td>You</td>
                    {% else %}
                    <td>Staff</td>
                    {%endif%}
                    <td>
                        {% if p.added_by.user_type == 1 %}

                        <form id='task-delete' method="POST" action="{% url 'delete_document' p.pk %}">
                            {% csrf_token %}
                            {% if form.errors %}
                            <div class="alert alert-danger">
                                Please fix the errors in the form below.
                                {% for error in form.non_field_errors %}
                                <p class="error">{{ error }}</p>
                                {% endfor %}
                            </div>
                            {% endif %}
                            <a href="{% url 'delete_document' document_pk=p.pk %}">
                                <button class="btn btn-warning" onClick="deleteFunction()">Delete</button></a>
                        </form>

                        {%endif%}
                    </td>
                </tr>


                {% endfor %}
            </tbody>
        </table>


        {%else%}
        <h4>You have no uploaded documents!</h4>
        <hr />
        {%endif%}


        <a href="{% url 'create_document' id=profile.baseuser.id %}">
            <button class="btn btn-primary btn-block">Add Document</button></a>
    </div>
</div>
{% endblock %}