{% extends 'myhealthdb/second_base.html' %}

{% load crispy_forms_tags %}
{% block body_block %}


<div class="card">
    <div class="card-header">
        <h3>Your Medical Conditions</h3>
    </div>
    <div class="card-body">
        <hr />
        {%if object_list%}
        <table class="table table-responsive-sm table-striped ">
            <thead>
                <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Title</th>
                    <th scope="col">Severity</th>
                    <th scope="col">Details</th>
                    <th scope="col">Reaction</th>
                    <th scope="col">Start</th>
                    <th scope="col">Stop</th>
                    <th scope="col">Added By</th>
                    <th scope="col"></th>
                </tr>
            </thead>

            <tbody>
                {% for p in object_list %}

                <tr>
                    <th scope="row">{{ p.type }}</th>
                    <td>{{p.title}}</td>
                    <td>{{p.severity}}</td>
                    <td>{{p.details}}</td>
                    <td>{{p.reaction}}</td>
                    <td>{{p.start}}</td>
                    <td>{{p.stop}}</td>
                    {%if p.added_by.id == profile.baseuser.id%}
                    <td>You</td>
                    {% else %}
                    <td>Staff</td>
                    {%endif%}
                    <td> <a href="{% url 'edit_condition' id=profile.baseuser.id condition_pk=p.pk %}">
                            <button class="btn btn-secondary">Edit</button></a></td>
                </tr>



                {% endfor %}
            </tbody>
        </table>

        {%else%}
        <h4>You have no conditions!</h4>
        <hr />
        {%endif%}



        <a href="{% url 'create_condition' id=profile.baseuser.id %}">
            <button class="btn btn-primary btn-block">Add Condition</button></a>
    </div>
</div>
{% endblock %}