{% extends 'myhealthdb/second_base.html' %}

{% load crispy_forms_tags %}
{% block body_block %}


<div class="card">
    <div class="card-header">
        <h1>Your Medical Conditions</h1>
    </div>
    <div class="card-body">
        {%if object_list%}
        <ul>
            {% for p in object_list %}
            <li>
                {{ p.title }}
                <a href="{% url 'edit_condition' id=profile.baseuser.id condition_pk=p.pk %}">
                    <button class="btn btn-secondary">Edit</button></a>
                {% comment %} <input data-url="{% url 'medication_done' %}" type="button" id="done{{p.id}}"
                    class="done btn btn-info" name="{{ p.id }}" value="No longer taking" /> {% endcomment %}
            </li>
            {% endfor %}
        </ul>
        {%else%}
        <h4>You have no conditions!</h4>
        {%endif%}


        
        <a href="{% url 'create_condition' id=profile.baseuser.id %}">
            <button class="btn btn-secondary">Add Condition</button></a> 
    </div>
</div>
{% endblock %}