{% extends 'myhealthdb/second_base.html' %}

{% load crispy_forms_tags %}
{% block body_block %}

<div class="card">
    <div class="card-header">
        <h3> {{patient.first_name}} {{patient.last_name}}</h3>
    </div>
    <div class="card-body">

        {% if patient %}

        <h4>Personal Details</h4>
        <hr />


        <div class="container">
            <div class="row">
                <div class="col">
                    <b>Name:</b> {{patient.first_name}} {{patient.last_name}}
                </div>
                <div class="col">
                    <b>DoB:</b> {{patient.dob}}
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col">
                    <b>Tel No:</b> {{patient.tel_no}}
                </div>
                <div class="col">
                    <b>NHS No:</b> {{patient.nhs_no}}
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col">
                    <b>Email:</b> {{patient.email}}
                </div>
                <div class="col">
                    <b>Flat No:</b> {{patient.flat_no}}
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-4">
                    <b>Address:</b><br /> {{patient.address}}
                </div>
            </div>

            <hr />
        </div>
        <h4>Emergency Contacts</h4>
        <hr />
        {%if patientem%}
        {%for p in patientem%}
        <div class="row">
            <div class="col">
                <b>Name:</b> {{p.name}}
            </div>
            <div class="col">
                <b>Email:</b> {{p.email}}
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col">
                <b>Phone 1:</b> {{p.phone1}}
            </div>
            <div class="col">
                <b>Phone 2:</b> {{p.phone2}}
            </div>
        </div>
        <hr />
        {%endfor%}
        {%else%}
        <p>Patient has no emergency contacts!</p>
        <hr />
        {%endif%}

        <a href="{% url 'delete_relation'  id=profile.baseuser.id pk=pathospitals.pk%}"
            class="btn btn-warning btn-lg active" role="button" aria-pressed="true">Delete Patient Relation</a>

        <hr />
        {%if request.user.user_type == 2 %}

        <h4>Measurements</h4>
        <hr />
        <div class="row">
            <div class="col">
                {%if height%}
                <b>Height:</b> {{height.value}}cm
                {%else%}
                <p>No height recorded!</p>
                {%endif%}
            </div>
            <div class="col">
                {%if weight%}
                <b>Weight:</b> {{weight.value}}kg
                {%else%}
                <p>No weight recorded!</p>
                {%endif%}
            </div>
        </div>
        <hr />

        <h4>Conditions</h4>
        <hr />
        {%if conditions%}
        <table class="table table-responsive-sm table-striped ">
            <thead>
                <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Title</th>
                    <th scope="col">Severity</th>
                    <th scope="col">Details</th>
                    <th scope="col">Reaction</th>
                    <th scope="col">Start</th>
                    <th scope="col">Stop</th>
                    <th scope="col">Added By</th>
                    <th scope="col"></th>
                </tr>
            </thead>

            <tbody>
                {% for p in conditions %}

                <tr>
                    <th scope="row">{{ p.type }}</th>
                    <td>{{p.title}}</td>
                    <td>{{p.severity}}</td>
                    <td>{{p.details}}</td>
                    <td>{{p.reaction}}</td>
                    <td>{{p.start}}</td>
                    <td>{{p.stop}}</td>
                    <td>{{p.added_by}}</td>
                    <td> <a class="btn btn-primary"
                            href="{% url 'edit_condition' id=profile.baseuser.id condition_pk=p.id%}" role="button">Edit
                            Condition</a></td>
                </tr>

                {% endfor %}
            </tbody>
        </table>

        {%else%}
        <p>Patient has no conditions!</p>
        <hr />
        {%endif%}
        <a class="btn btn-primary" href="{% url 'doc_create_condition' id=profile.baseuser.id pk=patient.baseuser.id%}"
            role="button">Record Condition</a>
        <hr />
        <h4>Medication</h4>
        <hr />
        {%if medications%}

        <table class="table table-responsive-sm table-striped ">
            <thead>
                <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Frequency</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Date Started</th>
                    <th scope="col">Date Finished</th>
                    <th scope="col">Notes</th>
                    <th scope="col">Added By</th>
                </tr>
            </thead>

            <tbody>
                {% for p in medications %}

                <tr>
                    <th scope="row">{{ p.type }}</th>
                    <td>{{p.frequency}}</td>
                    <td>{{p.amount}}</td>
                    <td>{{p.start}}</td>
                    <td>{{p.finish}}</td>
                    <td>{{p.notes}}</td>
                    <td>{{p.added_by}}</td>
                </tr>

                {% endfor %}
            </tbody>
        </table>

        {%else%}
        <p>Patient has no recorded medication!</p>
        <hr />
        {%endif%}
        <a class="btn btn-primary" href="{% url 'doc_create_medication' id=profile.baseuser.id pk=patient.baseuser.id%}"
            role="button">Record Medication</a>
        <hr />

        <h4>Documents</h4>
        <hr />
        {%if documents%}
        <table class="table table-responsive-sm table-striped ">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">File</th>
                    <th scope="col">Type</th>
                    <th scope="col">Description</th>
                    <th scope="col">Added By</th>
                    <th scope="col"></th>
                </tr>
            </thead>

            <tbody>
                {% for p in documents %}


                <tr>
                    <th scope="row">{{ p.name }}</th>
                    <td> <a href="{% url 'pdf_view' id=profile.baseuser.id pdfid=p.id%}">{{ p.file }}</a></td>
                    <td>{{p.type}}</td>
                    <td>{{p.description}}</td>
                    <td>{{p.added_by}}</td>
                    <td>
                        <form id='task-delete' method="POST" action="{% url 'delete_document' p.pk %}">
                            {% csrf_token %}
                            {% if form.errors %}
                            <div class="alert alert-danger">
                                Please fix the errors in the form below.
                                {% for error in form.non_field_errors %}
                                <p class="error">{{ error }}</p>
                                {% endfor %}
                            </div>
                            {% endif %}
                            <a href="{% url 'delete_document' document_pk=p.pk %}">
                                <button class="btn btn-warning" onClick="deleteFunction()">Delete</button></a>
                        </form>
                    </td>
                </tr>


                {% endfor %}
            </tbody>
        </table>

        {%else%}
        <p>Patient has no uploaded documents!</p>
        <hr />
        {%endif%}
        <a class="btn btn-primary" href="{% url 'doc_create_document' id=profile.baseuser.id pk=patient.baseuser.id%}"
            role="button">Upload Document</a>
        <hr />

        <h4>Immunizations</h4>
        <hr />
        {%if immunizations%}
        <table class="table table-responsive-sm table-striped ">
            <thead>
                <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Date</th>
                    <th scope="col">End</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Added By</th>
                </tr>
            </thead>

            <tbody>
                {% for p in immunizations%}

                <tr>
                    <th scope="row">{{ p.type }}</th>
                    <td>{{p.date}}</td>
                    <td>{{p.end}}</td>
                    <td>{{p.amount}}</td>
                    <td>{{p.added_by}}</td>
                </tr>

                {% endfor %}
            </tbody>
        </table>

        {%else%}
        <p>Patient has no immunizations on record!</p>
        <hr />
        {%endif%}
        <a class="btn btn-primary"
            href="{% url 'doc_create_immunization' id=profile.baseuser.id pk=patient.baseuser.id%}" role="button">Record
            Immunization</a>

        {% endif%}

        {%else%}
        <p>Patient does not exist</p>
        {%endif%}
    </div>
</div>
{% endblock %}