{% extends 'myhealthdb/first_base.html' %}
{% load staticfiles %}

{% block headerblock%}
{% endblock %}


{% block body_block %}
<div class="first-base">
      <div class="row justify-content-center">
            <div class="col-12">
                  <div class="container">
                        <div class="card">
                              <div class="card-header">
                                    <h3 class="card-title">About</h3>
                              </div>
                              <div class="card-body">

                                    <p class="card-text">This is an MSc project completed in the summer of 2019, in
                                          accordance
                                          with the rules of
                                          the School of Computing at the University of Glasgow. The primary aim of this
                                          project is to try to
                                          eliminate unnecessary data duplication between the patients' and health
                                          professionals' data. The app
                                          aims to simplify interactions between patients and staff, as well as
                                          interactons
                                          between the front and
                                          back ends. <br />
                                          MyHealthDB was written in Python using the Django framework. The libraries
                                          have made
                                          it much easier to work with and create.

                                    </p>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>

{% endblock %}