<!doctype html>
{% load staticfiles %}
{% load bootstrap4 %}   
{% bootstrap_css %}        
{% bootstrap_javascript jquery='false' %} 
{% block extrahead %}       
{% endblock %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>MyHealthDB</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    {% comment %} <!-- Custom styles for this template -->
    <link href="{% static 'css/first_base.css' %}" rel="stylesheet"> {% endcomment %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- General JQuery stuff -->
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>

    <!-- Particular JQuery stuff -->
    <script src="{% static 'js/myhealthdb_jquery.js' %}"></script>

    <!-- bootstrap js -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    {% comment %} recaptcha {% endcomment %}
    <script src='https://www.google.com/recaptcha/api.js'></script>

  </head>

  <body class="text-center bg-light"> 

    <div class="cover-container d-flex h-100 w-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand"><a href="{% url 'index' %}">MyHealthDB</a></h3>
          <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link" href="{% url 'about_this' %}">About</a>
            <a class="nav-link" href="{% url 'account_login' %}">Sign In</a>
            <a class="nav-link" href="#" dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Register..</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'account_signup' %}">as a Patient</a>
              <a class="dropdown-item" href=" {% url 'contact_form' %}">your Hospital</a>
            </div>
          </nav>
        </div>
      </header>


      {%block body_block%}{%endblock%}
                  <!-- Footer -->
            <footer class="site-footer">
                <div class="footer-inner bg-white">
                    <div class="row">
                        <div class="col-sm-6">
                            Copyright &copy; 2018 Ela Admin
                        </div>
                        <div class="col-sm-6 text-right">
                            Designed by <a href="https://colorlib.com">Colorlib</a>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- /.site-footer -->
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src=" {% static 'js/jquery-3.3.1.slim.min.js' %} "></script>
    <script src="  {% static 'js/popper.min.js' %} "></script>
    <script src=" {% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>
