{% extends 'myhealthdb/patient_base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block body_block %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<h4>Personal details:</h4>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <hr />
    <h4>Doctors:</h4>
    <div id="pdform_set">
        {{ pdformset.management_form }}
        {% for f in pdformset %}
        <div>
            {{f|crispy}}
        </div>
        <hr />
        {%endfor%}

        {% if pdformset.non_form_errors %}
        {% for error in pdformset.non_form_errors %}
        {{ error|escape }}
        {% endfor %}
        {% endif %}
    </div>
    <h4>Emergency contacts:</h4>
    <div id="ecform_set">
        {{ ecformset.management_form }}
        <div>
            {% for f2 in ecformset %}
            {{f2|crispy}}
        </div>
        <hr />
        {%endfor%}

        {% if ecformset.non_form_errors %}
        {% for error in ecformset.non_form_errors %}
        {{ error|escape }}
        {% endfor %}
        {% endif %}
    </div>

    <button style="color:black;" class="btn btn-primary" type="submit" name="submit">Submit!</button>

</form>

{% endblock %}