<!doctype html>
{% load static %}
{% load bootstrap4 %}
{% load i18n %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='false' %}
{% load easy_maps_tags %}
{% load myhealthdb_extras %}

{% block extrahead %}
{% endblock %}
<html lang="en">

<head>
    <title>MyHealthDB</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{%block titleblock%}{%endblock%}</title>
    <meta name="description" content="Ela Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />

    <link href="{% static 'css/bootstrap-datetimepicker-standalone.min.css' %}" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
    <script src="https://kit.fontawesome.com/5f32283283.js"></script>

    <link rel="stylesheet" href="{% static 'css/cs-skin-elastic.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/Chart.css' %}">

</head>

<body>
    <!-- Left Panel -->
    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="{% url 'home_base'%}"><i class="menu-icon fa fa-home"></i>Home </a>
                    </li>

                    {%if profile.baseuser.user_type == 1%}

                    {% comment %}
                    <!-- insert search bar--> {% endcomment %}

                    <li class="menu-title">Booking</li><!-- /.menu-title -->
                    <li>
                        <a href="{%url 'home_base'%}"><i class="menu-icon fa fa-calendar-week"></i>Events </a>
                    </li>

                    <li class="menu-title">Self Diagnosis</li><!-- /.menu-title -->
                    <li>
                        <a href="{%url 'vitals' id=profile.baseuser.id %}"><i class="menu-icon fa fa-heartbeat"></i>Vitals </a>
                    </li>

                    <li class="menu-title">Records</li><!-- /.menu-title -->
                    <li>
                        <a href="{% url 'medication'  id=profile.baseuser.id%}"><i
                                class="menu-icon fa fa-prescription-bottle-alt"></i>Medication </a>
                    </li>
                    <li>
                        <a href="{% url 'conditions'  id=profile.baseuser.id%}"><i
                                class="menu-icon fa fa-medkit"></i>Conditions </a>
                    </li>
                    <li>
                        <a href="{% url 'immunizations'  id=profile.baseuser.id%}"><i
                                class="menu-icon fa fa-syringe"></i>Immunizations </a>
                    </li>
                    <li>
                        <a href="{% url 'documents'  id=profile.baseuser.id%}"><i
                                class="menu-icon fa fa-file-medical"></i>Documents </a>
                    </li>

                    {%elif profile.baseuser.user_type == 2 or profile.baseuser.user_type == 3  %}
                    <li class="menu-title">Patients</li><!-- /.menu-title -->
                    <li>
                        <a href="{% url 'patient_list' id=profile.baseuser.id%}"><i
                                class="menu-icon fa fa-smile"></i>All Patients</a>
                    <li>
                    <li>
                        <a href="#"><i class="menu-icon fa fa-search"></i>Patient Search</a>
                    <li>
                        <form action="{% url 'patient_search_results' id=profile.baseuser.id%}" method="get">
                            <input class="input" name="q" type="text" placeholder="Search by name...">
                        </form>
                    </li>
                    </li>

                    {% elif profile.baseuser.user_type == 4%}
                    <li class="menu-title">Practice Management</li>
                    <li>
                        <a href="{% url 'hospital_details' id=profile.baseuser.id%}"><i
                                class="menu-icon fa fa-smile"></i>Practice & Staff</a>
                    </li>


                    {%endif%}
                    {%if profile.baseuser.user_type == 2 or profile.baseuser.user_type == 3 or profile.baseuser.user_type == 4 %}
                    <li class="menu-title">My Tasks</li><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false"> <i class="menu-icon fa fa-tasks"></i> Tasks</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li>
                                {%if tasks%}
                                {%for t in tasks%}
                                <div>
                                <button type="button" class="btn btn-link" data-toggle="modal"
                                    data-target="#openModaltask{{t.id}}">
                                    {{t.name}}
                                </button>
                                <input data-url="{% url 'task_complete' %}" type="button" id="complete{{t.id}}"
                                    class="btn btn-secondary complete" name="{{ t.id }}" value="✓" />
                                <br />
                                </div>


                                {%endfor%}
                                {%else%}

                                <a href="#">
                                    No tasks!
                                </a>

                                {%endif%}
                                <hr style="margin:0.1em auto;" />


                                <a href="{% url 'create_task' id=profile.baseuser.id%}">
                                    Create Task
                                </a>
                                <a href="{% url 'task' id=profile.baseuser.id%}">
                                    Tasks Home
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-title">Groups</li><!-- /.menu-title -->

                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false"> <i class="menu-icon fa fa-users"></i>My Groups</a>
                        <ul class="sub-menu children dropdown-menu">
                            {%if groups%}
                            {%for g in groups%}
                            <li>
                                <button type="button" class="btn btn-link" data-toggle="modal"
                                    data-target="#openModal{{g.id}}">
                                    {{g.name}}
                                </button>
                            </li>

                            {%endfor%}
                            {%else%}
                            <li><a href="#">You are not a member of any groups</a></li>
                            {%endif%}
                        </ul>
                    </li>
                    {% endif %}




                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside>
    <!-- /#left-panel -->
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        <header id="header" class="header">
            <div class="top-left">
                <div class="navbar-header">
                    <a class="navbar-brand mb-0 h1" href="{%url 'home_base'%}">MyHealthDB</a>
                    <a class="navbar-brand hidden" href="{%url 'home_base'%}">MyHealthDB</a>
                    <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
                </div>
            </div>
            <div class="top-right">
                <div class="header-menu">
                    <div class="user-area dropdown float-right">
                        <div class="header-left">
                        <a href="{%url 'help' id=profile.baseuser.id%}">
                            <button class="btn btn-link">Help</button>
                        </a>
                        </div>
                    </div>

                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <button class="btn btn-link">{{ profile.first_name }} {{ profile.last_name }}</button>
                        </a>

                        <div class="user-menu dropdown-menu">
                            {%if profile.baseuser.user_type == 1%}
                            <a class="nav-link" href="{%url 'patient_details' id=profile.baseuser.id%}"><i
                                    class="fa fa-user"></i>My Details</a>
                            <a class="nav-link" href="{%url 'doctors_view' id=profile.baseuser.id%}"><i
                                    class="fa fa-hospital"></i>My Practices</a>
                            {%else%}
                            <a class="nav-link" href="{%url 'staff_details' id=profile.baseuser.id%}"><i
                                    class="fa fa-user"></i>My Details</a>
                            {%endif%}

                            <a class="nav-link" href="{%url 'account_change_password'%}"><i
                                    class="fa fa-key"></i>Change Password</a>
                            <a class="nav-link" href="{%url 'account_logout' %}"><i
                                    class="fa fa-power-off"></i>Logout</a>
                        </div>
                    </div>

                </div>
            </div>
        </header>
        <!-- /#header -->
        <!-- Content -->
        <div class="content_signup">

            {% block body_block %}
            {% endblock %}


            {%if groups%}
            {%for g in groups%}

            <div class="modal fade" id="openModal{{g.id}}" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="exampleModalLongTitle">{{g.name}}</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div class="row">
                                <div class="col">
                                    <b>Name</b>
                                </div>
                                <div class="col">
                                    <b>Room</b>
                                </div>
                                <div class="col">
                                    <b>Tel No</b>
                                </div>


                            </div>
                            <hr />
                            {%for m in g.members.all %}



                            <div class="row">
                                <div class="col">
                                    {{m.first_name}} {{m.last_name}}
                                </div>
                                <div class="col">
                                    {{m.room}}
                                </div>
                                <div class="col">
                                    {{m.tel_no}}
                                </div>
                            </div>
                            <hr />

                            {% endfor %}


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            {%endfor%}
            {%endif%}


            {%if tasks%}
            {%for t in tasks%}

            <div class="modal fade" id="openModaltask{{t.id}}" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="exampleModalLongTitle">{{t.name}}</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col">
                                    <b>Deadline: </b> {{t.deadline}}
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col">
                                    <b>Set By: </b><br /> {{t.set_by}}
                                </div>
                                <div class="col">
                                    <b>Task For: </b></br> {% for s in t.complete_by.all %}
                                    {{s}}
                                    {% endfor %}
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col">
                                    <b>Notes: </b> {{t.notes}}
                                </div>
                            </div>



                        </div>
                        <div class="modal-footer">
                            <a href="{% url 'edit_task' id=profile.baseuser.id task_pk=t.pk %}">
                                <button class="btn btn-primary">Edit</button></a>
                            <form id='task-delete' method="POST" action="{% url 'delete_task' t.pk %}">
                                {% csrf_token %}
                                <a href="{% url 'delete_task' task_pk=t.pk %}">
                                    <button class="btn btn-warning" onClick="deleteFunction()">Delete</button></a>
                            </form>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                        </div>
                    </div>
                </div>
            </div>

            {%endfor%}
            {%endif%}

            <!-- Footer -->
            <footer class="site-footer-signup">
                <div class="footer-inner bg-white">
                    <div class="row">
                        <div class="col-sm-4">
                            Copyright &copy; 2018 Ela Admin
                        </div>
                        <div class="col-sm-4 text-center">
                           <b><a style="color:#344e86" href="https://app.termly.io/document/privacy-notice/60ba3efc-0d8c-410b-8736-e87cab7f2e8a">Privacy Policy</a></b>
                        </div>
                        <div class="col-sm-4 text-right">
                            Designed by <a href="https://colorlib.com">Colorlib</a>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- /.site-footer -->

        </div>


        <!-- Scripts -->

        <script src="{% static 'js/moment.min.js' %}"></script>

        <!-- General JQuery stuff -->
        <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
        <script src="{% static 'js/jquery-ui.min.js' %}"></script>


        <!-- bootstrap js -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>



        <!-- modal django -->
        <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>

        <script src="{% static 'js/bootstrap-datetimepicker.min.js' %} "></script>

        <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/moment@2.22.2/moment.min.js"></script>

        <script src="{% static 'js/main.js' %}"></script>

        <!-- chart.js for the vitals charts-->
        {% comment %} https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js {% endcomment %}
        {% comment %} <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script> {% endcomment %}
        <script src="{% static 'js/Chart.js' %}"></script>

        <!-- ajax js -->
        <script type="text/javascript">
            window.CSRF_TOKEN = "{{ csrf_token }}";
        </script>
        <script src="{% static 'js/myhealthdb-ajax.js' %}"></script>

        <script>
            const user_input = $("#user-input")
            const search_icon = $('#search-icon')
            const groups_div = $('#replaceable-content')
            const endpoint = ''
            const delay_by_in_ms = 700
            let scheduled_function = false

            let ajax_call = function (endpoint, request_parameters) {
                $.getJSON(endpoint, request_parameters)
                    .done(response => {
                        // fade out the groups_div, then:
                        groups_div.fadeTo('fast', 0).promise().then(() => {
                            // replace the HTML contents
                            groups_div.html(response['html_from_view'])
                            // fade-in the div with new contents
                            groups_div.fadeTo('fast', 1)
                            // stop animating search icon
                            search_icon.removeClass('blink')
                        })
                    })
            }


            user_input.on('keyup', function () {

                const request_parameters = {
                    q: $(this).val() // value of user_input: the HTML element with ID user-input
                }

                // start animating the search icon with the CSS class
                search_icon.addClass('blink')

                // if scheduled_function is NOT false, cancel the execution of the function
                if (scheduled_function) {
                    clearTimeout(scheduled_function)
                }

                // setTimeout returns the ID of the function to be executed
                scheduled_function = setTimeout(ajax_call, delay_by_in_ms, endpoint, request_parameters)
            })
        </script>
            {% block jquery_block %}
            {% endblock %}

</body>

</html>