{% extends 'myhealthdb/second_base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block extrahead %}
{{ efformset.media }}
{% endblock %}

{% comment %} {{ form.media.css }}
{{ form.media.js }} {% endcomment %}

{% block body_block %}
<div class="card">
    <div class="card-header">
        <h1>Schedule Shifts</h1>
    </div>
    <div class="card-body">
        <form method="post" action="." enctype="multipart/form-data">
            {% csrf_token %}

            {% if form.errors %}
            <div class="alert alert-danger">
                Please fix the errors in the form below.
                {% for error in form.non_field_errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}

            {% if form.errors %}
            <div class="alert alert-danger">
                Please fix the errors in the form below.
                {% for error in form.non_field_errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}

            <div id="efform_set">
                {% comment %} {{ efformset.management_form }} {% endcomment %}
                {{ efformset.management_form }}
                {% comment %} {{ efformset|crispy }} {% endcomment %}

                {% for f in efformset %}
                <div>
                    {{ f|crispy}}
                </div>
                {% endfor %}

                {% if efformset.non_form_errors %}
                {% for error in efformset.non_form_errors %}
                {{ error|escape }}
                {% endfor %}
                {% endif %}

                {% comment %} {%for form in efformset%}
                {{ efformset|crispy}}
                {{form|crispy}}
                {%endfor%} {% endcomment %}
                <button class="btn btn-primary btn-block" type="submit" name="submit">Submit!</button>
        </form>
    </div>
</div>

{% endblock %}