{% extends 'myhealthdb/second_base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load myhealthdb_extras %}

{% block body_block %}


{% if profile.baseuser.user_type != 4%}

    <div class="col-xs-12 ">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-schedule" role="tab"
            aria-controls="nav-home" aria-selected="true">Schedule</a>
          {% if profile.baseuser.user_type == 2 %}
          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-inpatients" role="tab"
            aria-controls="nav-profile" aria-selected="false">Inpatients</a>
          {% elif profile.baseuser.user_type == 3 %}
          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-inpatients" role="tab"
            aria-controls="nav-profile" aria-selected="false">Pending Registration</a>
          {% endif %}
      </nav>
      <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-schedule" role="tabpanel" aria-labelledby="nav-home-tab">
          {% if profile.baseuser.user_type == 2%}
          <h3>Your appointments today</h3>
          {% elif profile.baseuser.user_type == 3 %}
          <h3>Today's appointments</h3>

          {% endif %}

          <hr />

          {% if events %}
          <div class="row">
            <div class="col-md">
              <b>Title</b>
            </div>
            <div class="col-md">
              <b>Time</b>
            </div>
            <div class="col-md">
              <b>Patient</b>
            </div>
            <div class="col-md">
              <b>Type</b>
            </div>
            <div class="col-sm">

            </div>

          </div>
          <hr />
          {% for e in events %}
          <div class="row">
            <div class="col-md">
              {{e.title}}
            </div>
            <div class="col-md">
              {{e.date_in}}
            </div>
            <div class="col-md">
              <b>{{e.pd_relation.patient}}</b>
            </div>
            <div class="col-md">
              {{e.type}}
            </div>
            <div class="col-sm">
              <a class="btn btn-primary active" role="button" aria-pressed="true"
                href="{%url 'edit_event' id=profile.baseuser.id event_pk=e.id %}">Edit</a>
              <a class="btn btn-secondary active" role="button" aria-pressed="true"
                href="{%url 'delete_event' id=profile.baseuser.id event_pk=e.id %}">Delete</a>
            </div>


          </div>
          <hr />


          <br />
          {% endfor %}
          {% else %}
          <p>There are no upcoming appointments!</p>
          {% endif %}

          {% if profile.baseuser.user_type == 3 %}
          <a href="{%url 'staff_event_create' id=profile.baseuser.id %}" class="btn btn-primary btn-block active"
            role="button" aria-pressed="true">Book Appointment</a>

          {% endif %}
        </div>
        {% if profile.baseuser.user_type == 2 %}
        <div class="tab-pane fade" id="nav-inpatients" role="tabpanel" aria-labelledby="nav-profile-tab">

          <div>
            <h3>Your inpatients</h3>
            <hr/>
            {%if inpatients%}

            <div class="row">
              <div class="col">
                <b>Patient Name</b>
              </div>
              <div class="col">
                <b>Sex</b>
              </div>
              <div class="col">
                <b>DoB</b>
              </div>
              <div class="col">
                <b>NHS Number</b>
              </div>
            </div>
            <hr />
            {% for p in inpatients %}

            <div class="row">
              <div class="col">
                <a href="{% url 'patient_view'  id=profile.baseuser.id pk=p.baseuser.id%}">{{p.first_name}}
                  {{p.last_name}}</a>
              </div>
              <div class="col">
                {{p.sex}}
              </div>
              <div class="col">
                {{p.dob}}
              </div>
              <div class="col">
                {{p.nhs_no}}
              </div>
            </div>
            <hr />

            {% endfor %}
            {% else %}
            <p>You have no inpatients!</p>
            {% endif%}
          </div>
        </div>
        {% elif profile.baseuser.user_type == 3%}
        <div class="tab-pane fade" id="nav-inpatients" role="tabpanel" aria-labelledby="nav-profile-tab">
          {% if pending %}
          {% for i in pending %}
          <div>
            {{i.patient}} <input data-url="{% url 'accept_patient' %}" type="button" id="register_pat{{i.id}}"
              class="register_pat btn btn-primary" name="{{ i.id }}" value="Accept!" />
            <input data-url="{% url 'reject_application' %}" type="button" id="reject_pat{{i.id}}"
              class="reject_pat btn btn-warning" name="{{ i.id }}" value="Reject!" />

            <br />
          </div>
          {% endfor %}
          {% else %}
          <p>There are no patients waiting to be registered!</p>
          {% endif%}
        </div>
        {%endif%}

      </div>
    </div>

{%else %}
<div class="card">
  <div class="card-block">
    <h3 class="card-header">Schedule</h3>
    <div class="card-body">
      {%if staff%}

      <div class="table-responsive-lg">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th scope="col">Staff</th>
              {%if dates%}
              {%for d in dates%}
              <th scope="col">{{d}}</th>
              {%endfor%}
              {%endif%}

            </tr>
          </thead>
          <tbody>
            {%for s in schedule%}

            {% if s|classname == "Staff" %}
            <tr>
              <th scope="row">{{s}}</th>
              {%elif s|classname == "NoneType"%}
              <td></td>
              {%else%}
              <td><a href="{%url 'edit_shift' id=profile.baseuser.id pk=s.id%}" class="btn btn-secondary btn-lg active"
                  role="button" aria-pressed="true">{{s}}</a></td>
              {%endif%}

              {% endfor%}
            </tr>

          </tbody>
        </table>
      </div>
      {%else%}
      There are no staff to schedule for!
      {%endif%}
    </div>
  </div>
</div>

<a href="{%url 'add_schedule' id=profile.baseuser.id %}" class="btn btn-primary btn-block active" role="button"
  aria-pressed="true">Add Shift</a>



{% endif%}



{% endblock %}