{% extends 'myhealthdb/second_base.html' %}
{% load staticfiles %}


{% block body_block %}

<div class="card">
  <div class="card-block">
    <h3 class="card-header">Your updates</h3>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
</div>
<br />
<div class="card">

  <div class="card-header">
    <h3>Upcoming Appointments</h3>
  </div>
  <div class="card-body">
    {% if events %}
    <div class="row">
      <div class="col">
        <b>Title</b>
      </div>
      <div class="col">
        <b>Time</b>
      </div>
      <div class="col">
        <b>Type</b>
      </div>
      <div class="col">

      </div>

    </div>
    <hr />
    {% for e in events %}
    <div class="row">
      <div class="col">
        {{e.title}}
      </div>
      <div class="col">
        {{e.date_in}}
      </div>
      <div class="col">
        {{e.type}}
      </div>
      <div class="col">

      </div>

    </div>
    <hr />

    <a href="{%url 'edit_event' id=profile.baseuser.id event_pk=e.id %}">Edit event</a>
    <a href="{%url 'delete_event' id=profile.baseuser.id event_pk=e.id %}">Delete event</a>
    <br />
    {% endfor %}
    {% else %}
    <p>You have no upcoming appointments!</p>
    {% endif %} <a href="{%url 'event_create' id=profile.baseuser.id %}">
      <button class="btn btn-primary btn-block">Book Appointment</button></a>
  </div>

</div>
{% endblock %}