{% extends 'myhealthdb/second_base.html' %}
{% load staticfiles %}


{% block body_block %}


{%if pdrelations%}
{%else%}
<div class="card text-white bg-primary ">
  <div class="card-header">
    <h3>Register with a Practice!</h3>
  </div>
  <div class="card-body">
    Make the most of MyHealthDB by registering with a Hospital or Practice!
    Click on your name in the top-right corner and see 'My Practices', or click <a
      href="{% url 'doctors_reg' id=profile.baseuser.id%}" style="color:yellow;">here</a>.
  </div>
</div>
{%endif%}

<div class="card">

  <div class="card-header">
    <h3>Upcoming Appointments</h3>
  </div>
  <div class="card-body">
    {% if events %}
    <div class="row">
      <div class="col-md">
        <b>Title</b>
      </div>
      <div class="col-md">
        <b>Time</b>
      </div>
      <div class="col-md">
        <b>Practice</b>
      </div>
      <div class="col-md">
        <b>Type</b>
      </div>
      <div class="col-sm">

      </div>

    </div>
    <hr />
    {% for e in events %}
    <div class="row">
      <div class="col-md">
        {{e.title}}
      </div>
      <div class="col-md">
        {{e.date_in}}
      </div>
      <div class="col-md">
        <b>{{e.pd_relation.hospital}}</b>
      </div>
      <div class="col-md">
        {{e.type}}
      </div>
      <div class="col-sm">
        <a class="btn btn-primary active" role="button" aria-pressed="true"
          href="{%url 'edit_event' id=profile.baseuser.id event_pk=e.id %}">Edit</a>
        <a class="btn btn-secondary active" role="button" aria-pressed="true"
          href="{%url 'delete_event' id=profile.baseuser.id event_pk=e.id %}">Delete</a>
      </div>


    </div>
    <hr />


    <br />
    {% endfor %}
    {% else %}
    <p>You have no upcoming appointments!</p>
    {% endif %}
     <a href="{%url 'event_create' id=profile.baseuser.id %}">
      <button class="btn btn-primary btn-block">Book Appointment</button></a>
  </div>

</div>
{% endblock %}