{% extends 'myhealthdb/second_base.html' %}

{% load crispy_forms_tags %}
{% block extrahead %}
{{ form.media }}
{% endblock %}
{% load easy_maps_tags %}

{% block body_block %}
<div class="card">
    <div class="card-header">
        <h3>Your Details</h3>
    </div>
    <div class="card-body">
    <h4>Personal Details</h4>
    <hr/>


        <div class="container">
            <div class="row">
                <div class="col">
                    <b>Name:</b> {{profile.first_name}} {{profile.last_name}}
                </div>
                <div class="col">
                    <b>DoB:</b> {{profile.dob}}
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col">
                    <b>Tel No:</b> {{profile.tel_no}}
                </div>
                <div class="col">
                    <b>NHS No:</b> {{profile.nhs_no}}
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col">
                    <b>Email:</b> {{profile.email}}
                </div>
                <div class="col">
                    <b>Flat No:</b> {{profile.flat_no}}
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-4">
                    <b>Address:</b><br/> {{new_address}}
                </div>
                <div class="col-8">
                    {% easy_map new_address 375 250 %}
                </div>
            </div>

            <hr/>
        </div>
        <h4>Emergency Contacts</h4>
        <hr/>

        {%if pem%}
        {%for p in pem%}
        <div class="row">
                <div class="col">
                    <b>Name:</b> {{p.name}}
                </div>
                <div class="col">
                    <b>Email:</b> {{p.email}}
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col">
                    <b>Phone 1:</b> {{p.phone1}}
                </div>
                <div class="col">
                    <b>Phone 2:</b> {{p.phone2}}
                </div>
            </div>
            <hr />
        {%endfor%}
        {%else%}
        <p>You have no emergency contacts!</p>
        <hr/>
        {%endif%}


        <a href="{%url 'patient_details_update' id=profile.baseuser.id%}">
            <button class="btn btn-primary btn-block">Update Details</button></a>
    </div>
</div>

{%endblock%}